<div class="news-section">
    <div class="news-type">Latest News:</div>
    <% if(latestNews) { %>
        <div class="news">
            <div class="news-text">
                <%= latestNews.news %>
            </div>
        </div>
        <% } %>
</div>
<div class="quran-section">
    <% if(quranicVerse){ %>
        <script>
            const quranicVerse = <%- JSON.stringify(quranicVerse) %>;
        </script>
    <% } %>
    <div class="verse-section">
        <p class="verse"></p>
        <p class="verse-num"></p>
    </div>
</div>
<div class="message-section">
    <div class="message">
        <h3 class="message-title">MESSAGE FROM CHIEF ADVISOR</h3>
        <% if(message) { %>
                <div class="message1-text">
                    <p>
                        <%- message.message1.replace(/\r?\n/g, '<br>' ) %>
                    </p>
                </div>
                <div class="message1-author">
                    <%= message.message1Author %>
                </div>
            <% } %>
    </div>
    <div class="message">
        <h3 class="message-title">MESSAGE FROM PRESIDENT</h3>
        <% if(message) { %>
            <div class="message2-text">
                <p>
                    <%- message.message2.replace(/\r?\n/g, '<br>' ) %>
                </p>
            </div>
            <div class="message2-author">
                <%= message.message2Author %>
            </div>
            <% } %>
    </div>
</div>
<div class="news-event-section">
    <div class="new-event-section-title">NEWS & EVENTS</div>
    <% if(newsEvents && newsEventsPhoto){ %>
        <% for(let i=0; i < newsEvents.length && i < newsEventsPhoto.length; i++){ %>
            <div class="news-event-box">
                <img class="news-event-img" src=<%=newsEventsPhoto[i] %> alt="img">
                <div class="news-event">
                    <p class="date">
                        <%= newsEvents[i].createdAt.toLocaleDateString('bn-BD', {day: '2-digit' , month: 'long' ,
                            year: 'numeric' }) %>
                    </p>
                    <a class="news-event-title" href="/gallery/<%=newsEvents[i].id%>">
                        <%= newsEvents[i].description %>
                    </a>
                </div>
            </div>
            <% } %>
                <% } %>
</div>
<div class="notice-section">
    <div class="notice-section-title">NOTICE BOARD</div>
    <% if(notice){ %>
        <% for(let i=0; i < notice.length; i++){ %>
            <div class="notice-box">
                <div class="notice-description">
                    <p class="date">
                        <%= notice[i].createdAt.toLocaleDateString('bn-BD', {day: '2-digit' , month: 'long' ,
                            year: 'numeric' }) %>
                    </p>
                    <a class="notice-title" href="/notice/<%= notice[i].id %>">
                        <%= notice[i].notice %>
                    </a>
                </div>
            </div>
            <% } %>
                <% } %>
</div>
<div class="gallery-section">
    <div class="gallery-section-title">PHOTO GALLERY</div>
    <div class="gallery-section-photos">
        <% for(let i=0; i < galleryPhoto.length; i++){ %>
            <img class="gallery-section-photo" src=<%=galleryPhoto[i] %> alt="img">
            <% } %>
    </div>
</div>